<%- include('includes/header.ejs') %> 
<%- include('includes/navbar.ejs') %>
<h2>Publications</h2>
<div class="publish-outer">
    <% for (publish of publications) {%>
        <button class="publish"><%= publish %></button>
    <% } %>
</div>
<form class="input-group w-75 mx-auto mb-2 mt-2" onsubmit="onAuthorSearch(event)">
    <input class="form-control" type="text" placeholder="Search..."/>
    <button type="submit" class="btn btn-success">Search</button>
</form>
<div id="author" class="publish-outer">
    <% for (author of authors) {%>
        <button class="publish" onclick="navigateauthorpage(event)"><%= author %></button>
    <% } %>
</div>
<% if(authors.length === 0) { %>
    <div class="text-center">
        <img width="150" height="150" src="/img/nrf.jpg"/>
        <p class="fw-bold">No Result Found</p>
    </div>
<% } %>
<% if(load_more) { %>
<button class="btn btn-primary w-75 mx-auto d-block my-2 " onclick="loadauthor()">Load More</button>
<% } %>
<%- include('includes/footer.ejs') %>