<%- include('includes/header.ejs') %> 
<%- include('includes/navbar.ejs') %>
<div class="result-container">
    <% for (let books of resultbooks) { %>
        <div class="result">
            <div class="author-name"><%= books['BookAuthor'] %></div>
            <hr/>
            <p><b>Book Title:</b> <%=books['BookTitle']%></p>
            <p><b>ISBN:</b> <%=books['BookIsbn']%></p>
            <p><b>Publisher:</b> <%=books['BookPublisher']%></p>
            <p><b>Year:</b> <%=books['YearOfPublish']%></p>
            <p><b>Price: $<%=books['BookPrice']%></b></p>
            <button id="<%=books['BookIsbn']%>" class="btn btn-success d-block mx-auto" onclick="onAddCart(event)">ADD TO CART</button>
        </div>
    <% } %>
</div>
<%- include('includes/footer.ejs') %> 